langchain
PyPDF2
python-dotenv
streamlit
altair
tiktoken
langchain-community
together 
chromadb
langchain-chroma
pypdf
keyboard
psutil

# openai
# faiss-cpu 

# langchain-huggingface
#  huggingface llms
# huggingface-hub  #

# instructor embeddings 
#InstructorEmbedding  #
# sentence-transformers  #